<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <!-- Allow discovery of apps that can view http/https URLs -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- Explicitly acknowledge common browser packages -->
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.apps.chrome" />
        <package android:name="org.mozilla.firefox" />
        <package android:name="com.microsoft.emmx" />
        <package android:name="com.sec.android.app.sbrowser" />
        <package android:name="com.opera.browser" />
        <package android:name="com.brave.browser" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TikTok URL Trimmer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.TikTokTrim">

        <!-- Main activity receives VIEW deep links and shared text -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Handle short TikTok links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="vm.tiktok.com" />
            </intent-filter>

            <!-- Handle all TikTok.com links (including /t/ paths) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.tiktok.com" />
                <data android:scheme="https" android:host="m.tiktok.com" />
                <data android:scheme="https" android:host="tiktok.com" />
            </intent-filter>

            <!-- Support receiving shared text (Share -> your app) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>